# Python
__pycache__/

# Environments
venv/
.venv/
.env/

# Build artifacts
build/
dist/
*.egg-info/

# Simulation / CHARMM / MD binary outputs
*.dcd
*.log
*.out
*.tmp

# Ignore PyCharm settings
.idea/

# Data files (optional)
*.npy
*.npz
*.csv
*.h5